.smol {
  font-size: 0.8rem;
  align-self: center;
}

.white_icons {
  color: white;
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.button_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.button_grid button {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-row-margin {
  margin-bottom: 16rem;
}

/* ###################### */
#red_banner {
  position: absolute;
  right: 0;
  width: 10rem;
  height: 100%;
  z-index: -999;
}
.nav {
  position: fixed;
  /*  background-color: white; */
  backdrop-filter: blur(10px);
  z-index: 999;
}

.hidden {
  display: none;
}

.hero_text {
  text-align: center;
  margin-top: 3rem;
  /* filter: invert(1);
  mix-blend-mode: difference; */
}

.hero {
  margin: 6rem 3rem 3rem 3rem;
}

.hero_book_container {
  display: grid;
  justify-content: center;
}
#slider img,
#slider2 img,
#slider3 img {
  border-radius: 12px;
  width: 10rem;
  height: 13rem;
}

#slider::-webkit-scrollbar,
#slider2::-webkit-scrollbar,
#slider3::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#slider,
#slider2,
#slider3 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.banner_content {
  color: white;
  font-size: 1rem;
}

#all_books_container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 10rem);
  grid-gap: 0.5rem;
}

@media only screen and (min-width: 768px) {
  #red_banner {
    width: 18rem;
  }
  #hero_container {
    margin: 8rem 5rem 5rem 5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #hero_element {
    position: absolute;
    top: 0;
    left: 12rem;
    width: 18rem;
    height: 40rem;
    z-index: -999;
  }

  .hero_text {
    text-align: left;
  }

  #hero_container button {
    width: 12rem;
  }

  .hero_p {
    max-width: 500px;
  }

  .hero_book_container {
    justify-items: center;
  }

  #slider img,
  #slider2 img,
  #slider3 img {
    width: 15rem;
    height: 20rem;
    margin: 1.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0;
    border-radius: 6px;
  }

  #slider,
  #slider2,
  #slider3 {
    overflow-y: hidden;
  }

  .slider_container {
    margin: 0 1.5rem 0 3rem !important;
    display: flex;
    align-items: center;
  }

  .slider_right {
    padding: 1rem 0 1rem 1rem;
    height: 20rem;
  }
  .slider_right .flex {
    align-items: flex-end;
  }
}

/* ###################### */
