.smol {
  font-size: 0.8rem;
  align-self: center;
}

.white_icons {
  color: white;
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.button_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.button_grid button {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-row-margin {
  margin-bottom: 16rem;
}

/* ###################### */
#red_banner {
  position: absolute;
  right: 0;
  width: 10rem;
  height: 100%;
  z-index: -999;
}
.nav {
  position: fixed;
  background-color: white;
  z-index: 999;
}

.hidden {
  display: none;
}

.hero_text {
  text-align: center;
  margin-top: 3rem;
  /* filter: invert(1);
  mix-blend-mode: difference; */
}

.hero {
  margin: 6rem 3rem 3rem 3rem;
}

.hero_book_container {
  display: grid;
  justify-content: center;
}
#slider img {
  border-radius: 12px;
}

.banner_content {
  color: white;
  font-size: 1rem;
}

#all_books_container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 10rem);
  grid-gap: 0.5rem;
}
/* ###################### */
